{{#each projects}}
  <table class="table gcffund-projects" id="{{_id}}"><tbody>
    <tr class="bg-primary gcffund-project">
      <td colspan="2">{{name}}</td>
    </tr>
    <tr class="fieldset fieldset-dates">
      <td class="project-key">Dates:</td>
      <td>Start: {{startDate}} End: {{endDate}}</td>
    </tr>
    <tr class="fieldset fieldset-uri">
      <td class="project-key">Submit Page:</td>
      <td><a target="_blank" href="{{uri}}">{{uri}}</a></td>
    </tr>
    <tr class="fieldset fieldset-jurisdictions">
      <td class="project-key">Jurisdictions:</td>
      <td>
        <ol>
        {{#each jurisdictions}}
          <li>{{{fullName}}}</li>
        {{/each}}
      </ol>
      </td>
    </tr>
    <tr class="fieldset fieldset-subcontractors">
      <td class="project-key">Subcontractors:</td>
      <td>
        <ol>
          {{#each subcontractors}}
            <li>{{{this}}}</li>
          {{/each}}
        </ol>
      </td>
    </tr>
    <tr class="fieldset fieldset-indicators">
      <td class="project-key">Indicators:</td>
      <td>
        {{#each indicators}}
          <dl>
            <dt>{{{this.sectionCode}}}</dt> <dd>{{{this.title}}}</dd>
          </dl>
        {{/each}}
      </td>
    </tr>
    <tr class="fieldset fieldset-forms">
      <td class="project-key">Forms:</td>
      <td>
        {{#each forms}}
          <dl>
            <dt>{{{this.title}}}</dt>
            <!-- <dd>&nbsp;</dd> -->
          </dl>
        {{/each}}
      </td>
    </tr>
  </tbody></table>
{{/each}}
