<table class="table gcffund-indicators"><tbody>
  {{#each outcomes}}
    <tr class="bg-primary gcffund-outcome">
      <td>{{sectionCode}}</td>
      <td>{{title}}</td>
    </tr>
    {{#each indicators}}
      <tr>
        <td>{{sectionCode}}</td>
        <td>{{title}}</td>
      </tr>
    {{/each}}
    {{#each outputs}}
      <tr class="bg-primary gcffund-output">
        <td>{{sectionCode}}</td>
        <td>{{title}}</td>
      </tr>
      {{#each indicators}}
        <tr>
          <td>{{sectionCode}}</td>
          <td>{{title}}</td>
        </tr>
      {{/each}}
    {{/each}}
  {{/each}}
</tbody></table>
