{{#each forms}}
  <div class="panel panel-primary">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
      <form data-id="{{_id}}" data-title="{{title}}">
        {{#each fields}}
          {{#if isString}}
            <div class="form-group">
              <label for="exampleInputEmail1">{{label}}</label>
              <input type="text" class="form-control" placeholder=""/>
            </div>
          {{/if}}
          {{#if isDate}}
            <div class="form-group">
              <label for="exampleInputEmail1">{{label}}</label>
              <input type="text" class="form-control" placeholder="MM/DD/YYYY"/>
            </div>
          {{/if}}
          {{#if isNumber}}
          <div class="form-group">
              <label for="exampleInputEmail1">{{label}}</label>
              <input type="text" class="form-control" placeholder=""/>
            </div>
          {{/if}}
          {{#if isPerson}}
          <div class="form-group">
              <label for="exampleInputEmail1">{{label}}</label>
              <div class="row">
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="Full Name">
                </div>
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="EMail">
                </div>
              </div>
            </div>
          {{/if}}
          {{#if isJurisdiction}}
            <div class="form-group">
              <label for="exampleInputEmail1">{{label}}</label>
              <select class="form-control">
                <option value="" disabled="disabled" selected="selected">
                  -- Choose a GCF Fund Jurisdiction --
                </option>
                {{#each @root.jurisdictions}}
                  <option value="{{code}}">
                    {{fullName}}
                  </option>
                {{/each}}
              </select>
            </div>
          {{/if}}
          {{#if isChoice}}
            <div class="form-group">
              <label for="exampleInputEmail1">{{label}}</label>
              {{#each items}}
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" value="option1"/>
                    {{this}}
                  </label>
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/each}}
      </form>
    </div>
  </div>
{{/each}}
